body {
  background: black;
}
.firstHeader {
  color: #6dcd60;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 5rem;
}
.firstHeaderSub {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  margin-top: 1rem;
}
.card {
  width: 8rem;
  margin: 1rem;
  border-radius: 20px;
}
.card-title {
  background: #22313e;
  width: fit-content;
  padding: 0.5rem;
  font-size: 0.5rem;
  color: white;
  padding: 0.25rem 0.75rem;
}
.card-text {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
}
.stars {
  font-size: 0.5rem;
  margin-top: 0;
  padding-top: 0.5rem;
}
.pageBottom {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.imgContainer {
  border: 3px solid #383838;
  width: 200px;
  height: 200px;
  position: relative;
  margin: auto;
}
.imgContainer img {
  position: absolute;
  top: 10px;
  left: -10px;
  z-index: 10;
}
.pageBottomRight {
  margin: 4rem 0 0 0;
}
.header {
  color: #1bb520;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-left: 1.25rem;
}
.headerSub {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-left: 1.25rem;
}
.history {
  margin-left: 1.25rem;
  font-size: 0.75rem;
  margin-top: 1rem;
}
.bulletsContainer {
  margin-top: 3rem;
}
.bullets {
  font-size: 0.75rem;
}
.bullets svg {
  margin-right: 0.25rem;
}
.bullets p {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 401px) {
  .bullets p {
    width: 50%;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .cardContainer {
    justify-content: center;
  }
  .card {
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 17rem;
  }
  .card-text {
    font-size: 1.25rem;
  }
  .pageBottomRight {
    margin-left: 1.5rem;
  }
  .card-title {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1400px) {
  .imgContainer {
    height: 300px;
    width: 300px;
  }
  .card {
    width: 20rem;
  }
}
